div.box{
    background-color:lightgray;
    width: 300px;
    border: 2px solid green; /* this is the same as border-width, border-style, and border-color in one command*/ 
    /* you can also do padding: 25px 50px 75px 100px (this is top, right, bottom, left order */
    padding: 50px; /*this adds 50 px of spacing from the border on all the sides*/
    /* margin: 20px;  */
    /* margin: 100px 80px 50px 150px; this achieves the same as the ones below */
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 80px; /*margins affect where the box is on the page*/
}

/* Inline/Inlineblock/Block */
span{
display: block; /*This changes inline to block*/
}

li{
    display: inline; /*this changes it from block to inline*/
}
div{ 
    border: 1px dashed blue;
    margin: 2px;
    width: 200px;
    height: 50px;
    display:inline-block;
}

#div1{
    background-color: red;
}
#div2{
    background-color: green;
}
#div3{
    background-color: blue;
}

img.test{
    float:right;
}