/* this is for the header */
    .header{
        background-color: #F1F1F1;
        text-align: center;
        padding: 20px;
    }

/* navigation bar */
    /* navbar container */
    .topnav{
        overflow: hidden;
        background-color: #333;
    }

    /* navbar links */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* links - change color on hover */
    .topnav a:hover{
        background-color: #ddd;
        color: black;
    }

/* Unequal Columns */
    .column {
        float: left;
    }

    /*Class Combination Selector*/
    /* Left and right column */
    .column.side {
        width: 25%;
    }

    /*Class Combination Selector*/
    /* Middle column */
    .column.middle {
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    /* Responsive layout - makes the three columns stack on top of each other 
        instead of next to each other */
    @media screen and (max-width: 600px) {
        .column.side, .column.middle {
        width: 100%;
        }
    }

/* This is the footer */
    .footer {
        background-color: #F1F1F1;
        text-align: center;
        padding: 10px;
    }