div.box{
    background-color:lightgray;
    width: 300px;
    border: 2px solid green; /* this is the same as border-width, border-style, and border-color in one command*/ 
    /* you can also do padding: 25px 50px 75px 100px (this is top, right, bottom, left order */
    padding: 50px; /*this adds 50 px of spacing from the border on all the sides*/
    /* margin: 20px;  */
    /* margin: 100px 80px 50px 150px; this achieves the same as the ones below */
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 80px; /*margins affect where the box is on the page*/
}

/* Inline/Inlineblock/Block */
span{
display: block; /*This changes inline to block*/
}

li{
    display: inline; /*this changes it from block to inline*/
}
div{ 
    border: 1px dashed blue;
    margin: 2px;
    width: 200px;
    height: 50px;
    display:inline-block;
}

#div1{
    background-color: red;
}
#div2{
    background-color: green;
}
#div3{
    background-color: blue;
}

img.test{
    float:right;
}
/* used for navigation bar */
    /* li a{
        display: block;
        color:white;
        text-decoration: none;
        text-align: center;
        padding: 14px 16px;
    }

    ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        background-color: #333;
        
    }

    li{
        display:inline;
        text-decoration: none;
    } */

/* used for dropdown navbar */
ul{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a, .dropbtn{
    display:inline-block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: red;
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /*this ensures the drop down appears above the other elements*/
}

.dropdown-content a{
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content{
    display:block;
}
